# 🔐 Sensitive files to ignore
secrets.h
influx token.txt

# 📦 Ignore these full folders
/config/
/influxdb/


*.env
*.pem

# Ignore compiled Arduino files
*.hex
*.elf

# Python bytecode and logs
__pycache__/
*.pyc
*.log

# System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Telegraf temp
*.pid
*.tmp
